## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies & Setup.
import pandas as pd
import requests
import gmaps

# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Khatanga,RU,71.9667,102.5000,-43.65,100,58,4.36,broken clouds
1,1,Atuona,PF,-9.8000,-139.0333,79.21,71,66,17.92,broken clouds
2,2,Isabela,PH,6.7085,121.9711,77.05,88,89,4.88,overcast clouds
3,3,Hobart,AU,-42.8794,147.3294,56.26,68,75,5.75,broken clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.06,75,92,16.13,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,79.21,71,66,17.92,broken clouds
2,2,Isabela,PH,6.7085,121.9711,77.05,88,89,4.88,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.06,75,92,16.13,overcast clouds
5,5,Holetown,BB,13.1867,-59.6381,79.36,80,80,19.35,broken clouds
7,7,Mazagao,BR,-0.1150,-51.2894,86.05,74,58,6.33,broken clouds
9,9,Avarua,CK,-21.2078,-159.7750,80.65,74,20,16.11,light rain
13,13,Marsh Harbour,BS,26.5412,-77.0636,77.54,70,1,9.01,clear sky
21,21,Ouesso,CG,1.6136,16.0517,75.31,57,100,1.74,overcast clouds
22,22,Kahului,US,20.8947,-156.4700,80.62,76,20,25.32,few clouds
23,23,Sao Filipe,CV,14.8961,-24.4956,75.60,70,96,8.61,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
import numpy as np
np.where(pd.isnull(preferred_cities_df))

(array([186, 200], dtype=int64), array([2, 2], dtype=int64))

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,79.21,71,66,17.92,broken clouds
2,2,Isabela,PH,6.7085,121.9711,77.05,88,89,4.88,overcast clouds
4,4,Rikitea,PF,-23.1203,-134.9692,76.06,75,92,16.13,overcast clouds
5,5,Holetown,BB,13.1867,-59.6381,79.36,80,80,19.35,broken clouds
7,7,Mazagao,BR,-0.1150,-51.2894,86.05,74,58,6.33,broken clouds
...,...,...,...,...,...,...,...,...,...,...
701,701,Manokwari,ID,-0.8667,134.0833,79.41,79,100,3.60,overcast clouds
702,702,Dunmore Town,BS,25.5000,-76.6500,77.99,74,0,14.27,clear sky
708,708,Bandarbeyla,SO,9.4942,50.8122,76.73,81,42,21.77,light rain
711,711,Reo,BF,12.3167,-2.4667,78.76,16,83,7.74,broken clouds
718,718,Carutapera,BR,-1.1950,-46.0200,79.14,83,29,7.61,scattered clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df.dropna()[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,79.21,broken clouds,-9.8000,-139.0333,
2,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,
4,Rikitea,PF,76.06,overcast clouds,-23.1203,-134.9692,
5,Holetown,BB,79.36,broken clouds,13.1867,-59.6381,
7,Mazagao,BR,86.05,broken clouds,-0.1150,-51.2894,
9,Avarua,CK,80.65,light rain,-21.2078,-159.7750,
13,Marsh Harbour,BS,77.54,clear sky,26.5412,-77.0636,
21,Ouesso,CG,75.31,overcast clouds,1.6136,16.0517,
22,Kahului,US,80.62,few clouds,20.8947,-156.4700,
23,Sao Filipe,CV,75.60,overcast clouds,14.8961,-24.4956,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Atuona,PF,79.21,broken clouds,-9.8000,-139.0333,Villa Enata
2,Isabela,PH,77.05,overcast clouds,6.7085,121.9711,Isawad Resort
4,Rikitea,PF,76.06,overcast clouds,-23.1203,-134.9692,People ThankYou
5,Holetown,BB,79.36,broken clouds,13.1867,-59.6381,The Palms Resort
7,Mazagao,BR,86.05,broken clouds,-0.1150,-51.2894,Recanto dos Ferreiras
...,...,...,...,...,...,...,...
701,Manokwari,ID,79.41,overcast clouds,-0.8667,134.0833,Swiss Belhotel Manokwari
702,Dunmore Town,BS,77.99,clear sky,25.5000,-76.6500,Coral Sands Hotel
708,Bandarbeyla,SO,76.73,light rain,9.4942,50.8122,JABIR HOTEL
711,Reo,BF,78.76,broken clouds,12.3167,-2.4667,Hôtel Deogratias
718,Carutapera,BR,79.14,scattered clouds,-1.1950,-46.0200,Lidera

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.dropna().to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.dropna().iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df.dropna()[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))